img{
    float: left;
    position: relative;
    top: 4px;
  }
body{
    background-color: antiquewhite;
}
@media (min-width:319px) and (max-width:480px)
{
    body{
        background-color: aqua;
    }
}