/* ALL Selector*/
*{
    text-align: justify;
    background-color:#DDE6ED;
    font-family:sans-serif;
}
/*Element selector*/
h1{
   color:#0E3150;
   text-align: left;
   font-weight: bolder;
   font-style: italic;
   padding: 1em;
}
span{
    color: #205295;
}
/* Class selector*/
.heading{
    font-size: 40px;
    padding-left: 1em;
    font-weight:bolder;
    color: #526D82;
}
/* ID selector*/
#main-box{
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: start;
}
@media (max-width:1250px){
    #main-box{
        flex-direction: column;
    }
}
#one{
    align-self:center;
}
/* child selector*/
#main-box>*{
    flex-basis: 400px;
}
.lists{
    clear: both;
    padding-left: 2.5em;
}

/* Attribute selector in Group Rule*/
a[draggable="true"]{
    color: #0E3150;
    text-align: right;
    text-decoration: none;
    display: block;
}
/*descendent Rule*/
.lists li{
    color: #456173;
}

a{
    text-decoration-line: none;
    color: #205295;
}
/* Pin my name*/
small{
    position: fixed;
    left: 20px;
    top: 95%;
}